#################
## John's Gitignore
#################

bin/
tmp/
*.tmp
*.bak
*.pdf
*.settings
*.mno

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
