body {
	background: url(../../images/bubbles.jpg) top;
	overflow-x: hidden; /*horiz scroll remove*/
	
}
.page-wrap {
	background: darken(rgba(#999, 0.7),25%);
	width: $width;
	margin: 0 auto $padding auto;
	position: relative;
	@include transition(width 0.3s ease);
	@include breakpoint (768) {
		width: $widthMid;
	}
}
footer {
	clear:both;
}

article {
	background: url(../../images/linedpaper.png)!important;
	border-bottom: 1px solid darken($midGrey,20%); 
	a.more {
		background: darken($lightGrey, 40%);
		border-bottom: 1px solid $darkGrey;
		padding: 3px 1px 3px 6px;
		border-radius: 3px;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		&:hover, &:focus {
			background: $hover;
		}
	}
	span.head-icon{
		color: white;
		position: absolute;
		top: -1px;
		right: $padding;
	}
/*	span {
		font-size: 90px;
		position: absolute;
		top: 15px;
		right: 15px;
		color: #e1e1e1;
		z-index: 1;
	}*/
}

.post span {
	position: absolute;
	top: -1px;
	right: $padding;
	color: #FFF;
	font-size: 14px;
}

.home-ad-block {
	padding: $padding*2 0 $padding 0;
	@include breakpoint(480) {
		padding: $padding*2 $padding $padding $padding;
	}
}
.padding-off {
	padding: 0;
}
#homepage-small-ad {
	@include breakpoint(1024) {
		display: none;
	}
}
#homepage-big-ad {
	display: none;
	@include breakpoint(1024) {
		display: block;
	}
}
.listen-now {
	color: #FFF;
	background: rgba($orange, 0.6);
	display: inline-block;
	text-decoration: none;
	position: absolute;
	top: 13%;
	@include breakpoint(480) {
		top: 20%;
	}
	@include breakpoint(1024) {
		top: 25%;
	}
	left: 45%;
	padding: 6px;
	font-weight: normal;
	@include transition(background 0.5s ease);
	&:hover, &:active {
		color: #fff;
		background: rgba($link, 0.7); 
		@include transition(background 0.3s ease);
	}
	span {
		margin-left: 6px;
		@include font-size(2.0);
		@include breakpoint(480) {
			@include font-size(4.0);
		}
		@include breakpoint(1024) {
			@include font-size(5.0);
		}
	}
}
.home h1 {
	&:hover, &:active {
	color: #fff;
	background: rgba($link, 0.7)!important;
}
}
#listen {
	@include breakpoint(768) {
		display: none;
	}
	p {margin-top:6px;}
	.android {margin-bottom: 6px;}
	text-align: center;
	span:first-child { margin-bottom: 6px;}
	a {
		display: inline-block;
		color: #FFF;
		padding: $padding/2;
		width: 48%;
		@include font-size(1.4);
		@include breakpoint(480) {@include font-size(1.6);}
		text-decoration: none;
		margin-right: 2px;
		text-transform: uppercase;
		&:hover, &:focus {background: $hover;}
		span {
			font-weight: normal;
			margin: 3px 4px 0 0;
	    @include font-size(1.6);
			@include breakpoint(480) {@include font-size(2.6);}
		}
	}
	.apple {
		background: $apple;
	}
	.android {
		background: $android;
	}
	.blackberry {
		background: $blackberry;
	}	
	.windows8 {
		background: $windows8;
	}	
}



.podcast {
	&:before { 
		@include module-header-before($podcast);
	}
	&:after {
		content: "Seasiders Podcast";
		@include module-header-after;
	}
}

.tactics {
	&:before { 
		@include module-header-before($post);
	}
	&:after {
		content: "Tactical Insights";
		@include module-header-after;
	}
}

.coverage {
	&:before { 
		@include module-header-before($post);
	}
	&:after {
		content: "Match Coverage";
		@include module-header-after;
	}
}

.opinion {
	&:before { 
		@include module-header-before($post);
	}
	&:after {
		content: "Opinion";
		@include module-header-after;
	}
}

.stats {
	&:before { 
		@include module-header-before($post);
	}
	&:after {
		content: "Statistical Analysis";
		@include module-header-after;
	}
}
.partner {
	background: #000;
	&:before { 
		@include module-header-before($partner);
	}
	&:after {
		content: "Partner";
		@include module-header-after;
	}
}
.white-bg {
	background: #FFF;
}
.archives {
	&:before { 
		@include module-header-before($archives);
	}
	&:after {
		content: "Archives";
		@include module-header-after;
	}
}
.fao {
	&:before { 
		@include module-header-before($active);
	}
	&:after {
		content: "How to subscribe on a mobile device";
		@include module-header-after;
	}
}
.sub-nav {
	background: none;
	padding: $padding/2 0;
	font-size: 0;
	a {
		background: $lightGrey;
		color: $darkGrey;
		padding: $padding/2;
		@include font-size(1.2);
		text-decoration: none;
		text-transform: uppercase;
		margin: 0 2px 2px 0;
		&:first-child {
			margin-bottom: 2px;
		}
		&:last-child {
			margin-right: 0;
		}
		&:hover, &:focus {
			background: $hover;
		}
	}
}
.pagination {
	text-align: right;
}
button#hide {
	color: #FFF;
	@include font-size(1.2);
	position: absolute;
	top: 0px;
	right: 20px;
	background: $active;
	border: none;
	text-transform: uppercase;
	span {
		@include font-size (2.2);
		padding: 0;
		margin-top: 3px;
	}
}

